@import 'tailwindcss';


@theme  {
	--color-background: #FFFFFF;
	--color-secondary: #5027B5; 
} 

@layer base {
  p {
    @apply font-medium;
  }
}

@layer components {
  .btn {
    @apply bg-amber-100 border-2 text-4xl text-cyan-100;
  }
}

@utility bg-gradient {
  background: linear-gradient(94.59deg, #4923b4 2.39%, #e878cf 97.66%);
}
@utility card-box-shadow {
  box-shadow: 0px 0px 9px 0px #99999740;
}
